span {
  background: url("https://www.iconfinder.com/icons/285661/download/png/512");
  color: background-color;
  width: 50px;
  height: 50px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 30s linear;
}

@font-face {
  font-family: Neverland;
  src: url(/Magical\ Neverland.otf);
}

@font-face {
  font-family: Mael;
  src: url(/Mael.ttf);
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }

  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(10000deg);
  }
}

* {
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
}

#header {
  width: 100%;
  height: auto;
}

#container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

ul {
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  color: #eb08aa;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.header-text {
  font-size: 2rem;
}
#container .article {
  margin: 30px;
}

article {
  padding: 20px;
}

img,
video {
  width: 60%;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.37), 1px -0px 6px rgba(0, 0, 0, 0.37);
  margin: 20px auto;
  padding: 1px;
  display: flex;
}

#tagline {
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  img, video {
    padding: 5px;
    width: 100%;
  }

  article img {
    padding: 5px;
  }

  nav ul li a {
    font-size: 15px;
  }
}

#contact {
  margin-top: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-left p i {
  color: rgb(235, 8, 170);
  margin-right: 15px;
  font-size: 25px;
  transition: 1s;
}

.social-icons {
  margin-top: 30px;
  display: block;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
  font-size: 25px;
  margin-right: 15px;
  align-items: center;
}

.social-icons .fab {
  transition: 0.5s;
}

.social-icons .fab:hover {
  color: rgb(235, 8, 170);
  transform: scale(1.3);
}

#contact .copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

#tagline {
  padding-bottom: 50px;
  color: #eb08aa;
  transition: 2s;
}

#tagline:hover {
  transform: rotate(360deg);
  scale: 2;
}

a {
  color: black;
}
